* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --text-color-black-gray: #575d5e;
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit; /* Kế thừa */
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline;
    min-width: 173px;
    padding: 0 52px;
    height: var(--height);
    border-radius: 99px;
    border: 1.5px solid #143c3c;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-family: "Poppins", sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
    color: var(--primary-color-black);
}

.section-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    color: var(--primary-color-black);
}

/* Logo */
.logo-link {
    display: inline-block;
    width: 146px;
    height: 26px;
}

/* Header */
.header {
    padding: 28px 0 13px;
    font-family: "Public Sans", sans-serif;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

/* Navbar */

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar__link {
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: var(--text-color-black-gray);
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--primary-color-black);
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -25px;
    width: 16px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--primary-color-black-green);
}

/* Hero */
.hero__line {
    /* Box Model */
    height: 1px;
    /* Color */
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 165px;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    margin-top: 43px;
    margin-bottom: 20px;
    font-family: "Public Sans", sans-serif;
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    width: 341px;
    margin-bottom: 42px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    color: var(--text-color-black-gray);
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.hero__watch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.half-circle-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    border: 4px solid;
    border-radius: 50%;
    /* Color */
    border-color: var(--primary-color-black-green);
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Other */
    transform: rotate(-45deg);
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    background-color: #83a17d;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}

.hero__watch:hover {
    color: #83a17d;
}

.hero__watch:hover .half-circle-border {
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}

.hero__watch:hover .play-btn {
    background-color: var(--primary-color);
}

.hero__media {
    position: relative;
    width: 57%;
    display: flex;
    column-gap: 20px;
}

.hero__images {
    display: flex;
    justify-content: center;
}

.hero__images:nth-child(2) {
    transform: translateY(77px);
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero-decor {
    position: absolute;
    left: 506px;
    top: 108px;
}

.hero-decor__img {
    position: absolute;
    display: block;
    content: "";
    left: -41px;
    top: 9px;
}

.hero-decor__line {
    width: 545px;
}

.hero-decor__02 {
    transform: rotate(175.95deg);
    position: absolute;
    display: block;
    content: "";
    top: 390px;
    width: 545px;
    right: 249px;
}

.hero__bg {
    position: absolute;
    content: "";
    width: 340px;
    height: 340px;
    top: 276px;
    left: 833px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -10;
}

/* Logo branch */
.logo-branch {
    font-family: "Poppins", sans-serif;
    margin-top: 42px;
    height: 201px;
}

.logo-branch__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 122px;
    border-radius: 100.5px;
    background: var(--scondery-color-light-green);
}

.logo-branch-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-branch-name {
    font-size: 3.1rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--primary-color-black-green);
}

.logo-branch__icon {
    width: 40px;
    height: 46px;
    margin-right: 3px;
}

/* Service */

.service {
    margin-top: 106px;
    font-family: "Poppins", sans-serif;
}

.service__title {
    position: relative;
    display: block;
    margin-left: 46px;
}

.service__title::before {
    content: "";
    position: absolute;
    left: -44px;
    top: 9px;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.service-content {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-heading__service {
    position: relative;
    width: 520px;
    height: 104px;
}

.section-heading__service::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    right: 101px;
    bottom: 20px;
    background: var(--primary-color-black);
}

.service__buttons {
    display: flex;
    column-gap: 17px;
    margin-right: 73px;
}

.service__btn {
    outline: none;
    border: none;
    background: transparent;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--primary-color);
    background: var(--scondery-color-light-green);
    transition: 0.3s;
}

.service__btn:last-child {
    transform: rotate(180deg);
}

.service__btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.service-body {
    margin-top: 76px;
}

.service__list {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__image {
    overflow: hidden;
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.service-item__body {
    margin-top: 24px;
    padding: 24px 18px;
}

.service-item__heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    color: var(--primary-color-black);
}

.service-item__desc {
    margin-top: 18px;
    width: 268px;
    height: 72px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    color: var(--text-color-light-gray);
}

/* About us */
.about {
    margin-top: 157px;
    padding-bottom: 77px;
}

.about-row {
    display: flex;
    column-gap: 64px;
}

.about-media {
    display: flex;
    position: relative;
}

.about__images {
    width: 52%;
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:nth-child(1) {
    transform: translateY(90px);
}

.about-decor {
    position: absolute;
    content: "";
    display: block;
    top: -12px;
    left: 63px;
}

.about-decor__img {
    position: absolute;
    content: "";
    display: block;
    z-index: 1;
    top: 1px;
    left: -46px;
}

.about-block {
    position: absolute;
    width: 143px;
    height: 144px;
    padding: 19px 23px;
    bottom: -70px;
    right: -16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-block__title {
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    color: var(--primary-color-black);
}

.about-block__total {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    color: var(--text-color-black-gray);
    opacity: 0.4;
}

.about-block__precent {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    color: var(--primary-color-black);
}

.about-block__progress {
    margin-bottom: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-block__progress::before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-block__status {
    margin-bottom: 3px;
    font-size: 1rem;
    text-align: right;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    color: var(--primary-color-black);
}

.about-block__circle {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-block__circle::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color);
}

.about-team {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.about-team__name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    color: var(--primary-color-black);
}

.about-team__avatar {
    display: flex;
    align-items: center;
}

.about-team__avatar-img {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.about-content {
    width: 43%;
    font-family: "Poppins", sans-serif;
}

.about-content-title {
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-left: 46px;
}

.about-content-title::before {
    content: "";
    position: absolute;
    left: -44px;
    top: 12px;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.about-content__heading {
    width: 483px;
    margin-bottom: 11px;
}

.about-content__desc {
    width: 478px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    color: var(--text-color-light-gray);
}

.about-quantity {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding-bottom: 20px;
    margin-top: 36px;
}

.about-quantity::after {
    position: absolute;
    display: block;
    content: "";
    width: 485px;
    bottom: 1px;
    height: 1px;
    background: #83a17d;
}

.about-quantity__precent {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    color: var(--primary-color-black);
}

.about-quantily__desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    color: var(--text-color-light-gray);
}

/* Process */

.process {
    margin-top: 79px;
    font-family: "Poppins", sans-serif;
}

.process-top-title {
    margin-left: 7px;
    position: relative;
    display: block;
    margin-left: 46px;
    margin-bottom: 20px;
}

.process-top-title::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 12px;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.process-heading {
    position: relative;
    width: 477px;
}

.process-heading::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 19px;
    right: -26px;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.process-content {
    margin-top: 81px;
}

.process__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 57px 40px 76px 30px;
    transition: 0.3s;
    border-bottom: 1px solid #83a17d;
}

.process__item:hover {
    border-radius: 33px;
    background: #e2eddf;
    border-color: transparent;
}

.process-list__number {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7; /* 72.222% */
    color: var(--primary-color-black-green);
}

.process-list__item {
    margin-left: 64px;
}

.process-list__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process__item:hover .process-list__link {
    display: block;
}

.process-list__link {
    display: none;
    text-decoration: underline;
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    color: var(--text-color-black-gray);
}

.process-list__img {
    position: absolute;
    content: "";
    display: block;
    right: 105px;
    top: -260px;
    width: 450px;
    height: 444px;
}

.process-list__desc {
    margin-left: 175px;
    width: 572px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    color: var(--text-color-light-gray);
}

.process__item:nth-child(3) .process-list__desc {
    margin-left: 242px;
}
